
@{
    ViewBag.Title = "MedExamFormStep2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row form-group">
        <div class="col-xs-12 col-lg-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="disabled">
                    <a href="#step-1">
                        <h4 class="list-group-item-heading">
                            Patient details
                        </h4>
                    </a>
                </li>
                <li class="active">
                    <a href="#step-2">
                        <h4 class="list-group-item-heading">
                            Medical Examiner Review
                        </h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#step-3">
                        <h4 class="list-group-item-heading">
                            Medical Examiner Decision
                        </h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#step-4">
                        <h4 class="list-group-item-heading">
                            SJR Assessment Triage
                        </h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#step-5">
                        <h4 class="list-group-item-heading">
                            Other referrals
                        </h4>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#step-6">
                        <h4 class="list-group-item-heading">
                            Positive Feedback
                        </h4>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row setup-content" id="step-2">
        <div class="col-xs-12 col-lg-12">
            <form action="/Home/MedExamFormStep2" method="post" id="frmMedExamFormStep2">
                <div class="col-md-12 well">
                    <div class="form-section">
                        <div class="lable_title">
                            <h2>MEDICAL EXAMINER REVIEW </h2>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row_bar">
                                    <label class="label_part">Name of ME </label>
                                    @{
                                        if (Session["BtnPrevious"] != null)
                                        {
                                            var sessionMedicalExaminer = (NHS.Models.MedicalExaminer)Session["sessionMedicalExaminer"];
                                            string sessionFirstName = sessionMedicalExaminer.ME_FirstName;
                                            string sessionMidName = sessionMedicalExaminer.ME_MiddleName;
                                            string sessionLastName = sessionMedicalExaminer.ME_LastName;

                                            string strFullNameME = sessionFirstName + " " + sessionMidName + " " + sessionLastName;

                                            <select class="form-control" id="ddlMEName" name="ddlMEName">
                                                @{
                                                    if ("M K S" == strFullNameME)
                                                    {
                                                        <option value="-1">Select</option>
                                                        <option value="M K S" selected>M K S</option>
                                                        <option value="P K P">P K P</option>
                                                        <option value="R T O">R T O</option>
                                                        <option value="T K T">T K T</option>
                                                        <option value="D T O">D T O</option>
                                                    }
                                                    if ("P K P" == strFullNameME)
                                                    {
                                                        <option value="-1">Select</option>
                                                        <option value="M K S">M K S</option>
                                                        <option value="P K P" selected>P K P</option>
                                                        <option value="R T O">R T O</option>
                                                        <option value="T K T">T K T</option>
                                                        <option value="D T O">D T O</option>
                                                    }
                                                    if ("R T O" == strFullNameME)
                                                    {
                                                        <option value="-1">Select</option>
                                                        <option value="M K S">M K S</option>
                                                        <option value="P K P">P K P</option>
                                                        <option value="R T O" selected>R T O</option>
                                                        <option value="T K T">T K T</option>
                                                        <option value="D T O">D T O</option>
                                                    }

                                                    if ("T K T" == strFullNameME)
                                                    {
                                                        <option value="-1">Select</option>
                                                        <option value="M K S">M K S</option>
                                                        <option value="P K P">P K P</option>
                                                        <option value="R T O">R T O</option>
                                                        <option value="T K T" selected>T K T</option>
                                                        <option value="D T O">D T O</option>
                                                    }
                                                    if ("D T O" == strFullNameME)
                                                    {
                                                        <option value="-1">Select</option>
                                                        <option value="M K S">M K S</option>
                                                        <option value="P K P">P K P</option>
                                                        <option value="R T O">R T O</option>
                                                        <option value="T K T">T K T</option>
                                                        <option value="D T O" selected>D T O</option>
                                                    }

                                                }
                                            </select>

                                        }
                                        else
                                        {
                                            <select class="form-control" id="ddlMEName" name="ddlMEName">
                                                <option value="-1">Select</option>
                                                <option value="M K S">M K S</option>
                                                <option value="P K P">P K P</option>
                                                <option value="R T O">R T O</option>
                                                <option value="T K T">T K T</option>
                                                <option value="D T O">D T O</option>
                                            </select>
                                        }
                                    }

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row_bar">
                                    @{
                                        if (Session["BtnPrevious"] != null)
                                        {
                                            var sessionMedicalExaminerReview = (NHS.Models.MedicalExaminerReview)Session["sessionMedicalExaminerReview"];
                                            string sessionQAPName = sessionMedicalExaminerReview.QAPName;
                                            <label class="label_part">Name of QAP </label>
                                            <input class="form-control" type="text" placeholder="" id="txtQAP" name="txtQAP" value="@sessionQAPName">
                                        }
                                        else
                                        {
                                            <label class="label_part">Name of QAP </label>
                                            <input class="form-control" type="text" placeholder="" id="txtQAP" name="txtQAP">
                                        }
                                    }

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row_bar checkbox-row">
                                    @{
                                        if (Session["BtnPrevious"] != null)
                                        {
                                            var sessionMedicalExaminerReview = (NHS.Models.MedicalExaminerReview)Session["sessionMedicalExaminerReview"];
                                            if (sessionMedicalExaminerReview.QAP_Discussion == true)
                                            {
                                                <input class="form-checkbox-input" type="checkbox" value="" id="cbQAPDiscussion" name="cbQAPDiscussion" checked="checked">
                                                <label class="label_part" for="defaultCheck1">Discussion with QAP complete? </label>
                                            }
                                            else
                                            {
                                                <input class="form-checkbox-input" type="checkbox" value="" id="cbQAPDiscussion" name="cbQAPDiscussion">
                                                <label class="label_part" for="defaultCheck1">Discussion with QAP complete? </label>
                                            }
                                        }
                                        else
                                        {
                                            <input class="form-checkbox-input" type="checkbox" value="" id="cbQAPDiscussion" name="cbQAPDiscussion">
                                            <label class="label_part" for="defaultCheck1">Discussion with QAP complete? </label>
                                        }

                                    }


                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row_bar checkbox-row">
                                    @{
                                        if (Session["BtnPrevious"] != null)
                                        {
                                            var sessionMedicalExaminerReview = (NHS.Models.MedicalExaminerReview)Session["sessionMedicalExaminerReview"];
                                            if (sessionMedicalExaminerReview.Notes_Review == true)
                                            {
                                                <input class="form-checkbox-input" type="checkbox" value="" id="cbNotesReview" name="cbNotesReview" checked="checked">
                                                <label class="label_part" for="defaultCheck2">Notes review complete? </label>
                                            }
                                            else
                                            {
                                                <input class="form-checkbox-input" type="checkbox" value="" id="cbNotesReview" name="cbNotesReview">
                                                <label class="label_part" for="defaultCheck2">Notes review complete? </label>
                                            }
                                        }
                                        else
                                        {
                                            <input class="form-checkbox-input" type="checkbox" value="" id="cbNotesReview" name="cbNotesReview">
                                            <label class="label_part" for="defaultCheck2">Notes review complete? </label>
                                        }

                                    }


                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row_bar checkbox-row mb-3">
                                    @{
                                        if (Session["BtnPrevious"] != null)
                                        {
                                            var sessionMedicalExaminerReview = (NHS.Models.MedicalExaminerReview)Session["sessionMedicalExaminerReview"];
                                            if (sessionMedicalExaminerReview.Nok_Discussion == true)
                                            {
                                                <input class="form-checkbox-input" type="checkbox" value="" id="cbNoK_Discussion" name="cbNoK_Discussion" checked="checked">
                                                <label class="label_part" for="defaultCheck3">Discussion with NoK complete? </label>
                                            }
                                            else
                                            {
                                                <input class="form-checkbox-input" type="checkbox" value="" id="cbNoK_Discussion" name="cbNoK_Discussion">
                                                <label class="label_part" for="defaultCheck3">Discussion with NoK complete? </label>
                                            }
                                        }
                                        else
                                        {
                                            <input class="form-checkbox-input" type="checkbox" value="" id="cbNoK_Discussion" name="cbNoK_Discussion">
                                            <label class="label_part" for="defaultCheck3">Discussion with NoK complete? </label>
                                        }
                                    }

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row_bar">
                                    @{
                                        if (Session["BtnPrevious"] != null)
                                        {
                                            var sessionMedicalExaminerReview = (NHS.Models.MedicalExaminerReview)Session["sessionMedicalExaminerReview"];
                                            string sessionMedicalExaminerReviewComments = sessionMedicalExaminerReview.Comments;

                                            <label class="label_part">Comments</label>
                                            <textarea class="form-control" id="taComment" name="taComment">@sessionMedicalExaminerReviewComments</textarea>

                                        }
                                        else
                                        {
                                            <label class="label_part">Comments</label>
                                            <textarea class="form-control" id="taComment" name="taComment"></textarea>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <button id="activate-prev-1" name="BtnPrevious" class="btn btn-primary btn-lg">Previous</button>
                    <button id="activate-step-2" name="BtnNext" class="btn btn-primary btn-lg">Save & Next</button>

                </div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <div class="pull-right">
        <button class="btn btn-primary btn-lg" id="btnClose2">Close</button>
    </div>
</div>
<div class="modal fade" id="modelClose2">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Messsage</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-section" style="text-align:left">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row_bar">
                                <div>Doy you want to Save Record ?</div>
                            </div>
                        </div>
                        <br />
                        <br />

                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary btn-block" id="btnClose2Yes">Yes</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary btn-block" id="btnModelClose2" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnClose2").click(function () {
            $("#modelClose2").modal();
        });
    });
</script>
<script type="text/javascript">
$(function () {

     $("#btnModelClose2").click(function(){
window.location.href = "@Url.Action("CORSPatient", "Home")";
    });

});
</script>

