
@{
    ViewBag.Title = "SJROutcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script>
        function validate(form) {
            var returnValue = true;
            var vStage2SJRDateSent = form.txtStage2SJRDateSent.value;
            var vStage2SJRSentTo = form.txtStage2SJRSentTo.value;
            var vRefernceNumber = form.txtRefernceNumber.value;
            var vDateReceived = form.txtDateReceived.value;
            var vRCAOutcomeComments = form.taRCAOutcomeComments.value;
            var vDiscussedToMSG = form.txtDiscussedToMSG.value;
            var vMortalitySurveillanceComments = form.taMortalitySurveillanceComments.value;
            var vFeedbackToNok = form.taFeedbackToNok.value;

            if (vStage2SJRDateSent.length == 0) {
                returnValue = false;
                alert("Cannot be balnk Date Sent");
                document.frmSJROutcome.txtStage2SJRDateSent.focus();
                return returnValue;
            }

            if (vStage2SJRSentTo.length == 0) {
                returnValue = false;
                alert("Cannot be balnk Sent To");
                document.frmSJROutcome.txtStage2SJRSentTo.focus();
                return returnValue;
            }

            if (vRefernceNumber.length == 0) {
                returnValue = false;
                alert("Cannot be balnk Refernce Number");
                document.frmSJROutcome.txtRefernceNumber.focus();
                return returnValue;
            }

            if (vDateReceived.length == 0) {
                returnValue = false;
                alert("Cannot be balnk Date Received ");
                document.frmSJROutcome.txtDateReceived.focus();
                return returnValue;
            }

            if (vRCAOutcomeComments.length == 0) {
                returnValue = false;
                alert("Cannot be balnk Out Come Comments ");
                document.frmSJROutcome.taRCAOutcomeComments.focus();
                return returnValue;
            }

            if (vDiscussedToMSG.length == 0) {
                returnValue = false;
                alert("Cannot be balnk Disscussed To MSG ");
                document.frmSJROutcome.txtDiscussedToMSG.focus();
                return returnValue;
            }

            if (vMortalitySurveillanceComments.length == 0) {
                returnValue = false;
                alert("Cannot be balnk Mortality Surveillance Comments ");
                document.frmSJROutcome.taMortalitySurveillanceComments.focus();
                return returnValue;
            }

            if (vFeedbackToNok.length == 0) {
                returnValue = false;
                alert("Cannot be balnk FeedBack To Nok ");
                document.frmSJROutcome.taFeedbackToNok.focus();
                return returnValue;
            }
            return returnValue;
        }
    </script>*@

<div class="row setup-content" id="step-1">
    <div class="col-xs-12 col-lg-12">
        <form action="/Home/SJROutcome" method="post">
            <div class="col-md-12 well text-center">
                <div class="form-section" style="text-align:left">
                    <div class="lable_title">
                        <h2>SJR OUTCOME</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <label class="label_part">Stage 2 SJR Required?</label>
                        </div>
                        <div class="col-md-0">
                            <input class="form-checkbox-input" type="checkbox" value="" id="cbStage2SJRRequiredYes" name="cbStage2SJRRequiredYes">
                        </div>
                        <div class="col-md-1">
                            <label class="label_part" for="defaultCheck1">Yes</label>
                        </div>

                        <div class="col-md-0">
                            <input class="form-checkbox-input" type="checkbox" value="" id="cbStage2SJRRequiredNo" name="cbStage2SJRRequiredNo">
                        </div>
                        <div class="col-md-1">
                            <label class="label_part" for="defaultCheck1">No</label>
                        </div>
                        <div class="col-md-7">
                            <div class="row_bar">
                                <label class="label_part">Stage 2 SJR date sent</label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row_bar">
                                <input class="form-control" type="text" placeholder="" id="txtStage2SJRDateSent" name="txtStage2SJRDateSent">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row_bar">
                                <label class="label_part">Stage 2 SJR sent to</label>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="row_bar">
                                <input class="form-control" type="text" placeholder="" id="txtStage2SJRSentTo" name="txtStage2SJRSentTo">
                            </div>
                        </div>
                    </div>
                    <div class="lable_title">
                        <h2>SIRI/ RCA OUTCOME</h2>
                    </div><br />
                    <div class="row">
                        <div class="col-md-7">
                            <label class="label_part">Reference Number</label>
                        </div>

                        <div class="col-md-5">
                            <input class="form-control" type="text" placeholder="" id="txtRefernceNumber" name="txtRefernceNumber">
                        </div>
                        <div class="col-md-7">
                            <label class="label_part">Date Received</label>
                        </div>

                        <div class="col-md-5">
                            <input class="form-control input_datepicker" type="text" placeholder="" id="txtDateReceived" name="txtDateReceived">
                        </div>
                        <div class="col-md-12">
                            <label class="label_part">Comments</label>
                        </div>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="5" id="taRCAOutcomeComments" name="taRCAOutcomeComments"></textarea>
                        </div>
                    </div><br />
                    <div class="lable_title">
                        <h2>MORTALITY SURVEILLANCE GROUP </h2>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <label class="label_part">Presentation to MSG required? </label>
                        </div>
                        <div class="col-md-0">
                            <input class="form-checkbox-input" type="checkbox" value="" id="cbPresentationToMSGYes" name="cbPresentationToMSGYes">
                        </div>
                        <div class="col-md-1">
                            <label class="label_part" for="defaultCheck1">Yes</label>
                        </div>

                        <div class="col-md-0">
                            <input class="form-checkbox-input" type="checkbox" value="" id="cbPresentationToMSGNo" name="cbPresentationToMSGNo">
                        </div>
                        <div class="col-md-1">
                            <label class="label_part" for="defaultCheck1">No</label>
                        </div>
                        <div class="col-md-7">
                            <label class="label_part">Discussed with MSG</label>
                        </div>

                        <div class="col-md-5">
                            <input class="form-control" type="text" placeholder="" id="txtDiscussedToMSG" name="txtDiscussedToMSG">
                        </div>
                        <div class="col-md-7">
                            <div class="row_bar">
                                <label class="label_part">Avoidability Score</label>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row_bar">
                                <select class="form-control" id="ddlAvoidabilityScore" name="ddlAvoidabilityScore">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label class="label_part">Comments</label>
                        </div>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="5" id="taMortalitySurveillanceComments" name="taMortalitySurveillanceComments"></textarea>
                        </div>
                        <div class="col-md-12">
                            <label class="label_part">Feedback to NoK</label>
                        </div>
                        <div class="col-md-6">
                            <textarea class="form-control" rows="5" id="taFeedbackToNok" name="taFeedbackToNok"></textarea>
                        </div>
                    </div>
                    <div class="col-md-12" align="center">
                        @*<input type="button" class="btn btn-info" value="Reset">
                        <input type="submit" name="btnSumbit" class="btn btn-info" value="Submit">*@
                        <button id="btnSave" type="submit" class="btn btn-primary btn-lg" name="btnSave">Save </button>

                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-primary btn-lg" id="btnClose">Close</button>
    </div>
</div>
<div class="modal fade" id="modelClose">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Messsage</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-section" style="text-align:left">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row_bar">
                                <div>Doy you want to Save Record ?</div>
                            </div>
                        </div>
                        <br />
                        <br />

                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary btn-block" id="btnCloseYes">Yes</button>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary btn-block" id="btnModelClose" data-dismiss="modal">NO</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#btnClose").click(function () {
            $("#modelClose").modal();
        });
    });
</script>

<script type="text/javascript">
$(function () {
    $("#btnModelClose").click(function(){
window.location.href = "@Url.Action("CORSPatient", "Home")";
    });
});
</script>